# PANDAS

In [1]:
import pandas as pd

In [4]:
series = pd.Series([1,2,3,4,5,6])
print(series)
print(series.values)
print(series.index.values)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
[1 2 3 4 5 6]
[0 1 2 3 4 5]

In [9]:
my_series = pd.Series([12,3,4,75,32,75,23,75,2,34,53],index=['One','Two','Three','Four','Five','Six',
'Seven','Eight','Nine','Ten','Eleven'])
print(my_series)
my_series.name = 'inDigits'
my_series.index.name = 'inWords'
my_series

One       12
Two        3
Three      4
Four      75
Five      32
Six       75
Seven     23
Eight     75
Nine       2
Ten       34
Eleven    53
dtype: int64

inWords
One       12
Two        3
Three      4
Four      75
Five      32
Six       75
Seven     23
Eight     75
Nine       2
Ten       34
Eleven    53
Name: inDigits, dtype: int64

## DataFrame

In [11]:
data = pd.read_csv('./fandango_score_comparison.csv')

In [14]:
print(data.columns)

Index(['FILM', 'RottenTomatoes', 'RottenTomatoes_User', 'Metacritic',
       'Metacritic_User', 'IMDB', 'Fandango_Stars', 'Fandango_Ratingvalue',
       'RT_norm', 'RT_user_norm', 'Metacritic_norm', 'Metacritic_user_nom',
       'IMDB_norm', 'RT_norm_round', 'RT_user_norm_round',
       'Metacritic_norm_round', 'Metacritic_user_norm_round',
       'IMDB_norm_round', 'Metacritic_user_vote_count', 'IMDB_user_vote_count',
       'Fandango_votes', 'Fandango_Difference'],
      dtype='object')

In [19]:
new_data = pd.DataFrame(data, columns=['FILM', 'RottenTomatoes', 'RottenTomatoes_User', 'Metacritic'])
new_data.head()

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic
0,Avengers: Age of Ultron (2015),74,86,66
1,Cinderella (2015),85,80,67
2,Ant-Man (2015),80,90,64
3,Do You Believe? (2015),18,84,22
4,Hot Tub Time Machine 2 (2015),14,28,29

In [20]:
print(my_series[0])
print(type(my_series[0]))

12
<class 'numpy.int64'>

In [26]:
data.shape

(146, 22)

In [27]:
data.loc[0]

FILM                          Avengers: Age of Ultron (2015)
RottenTomatoes                                            74
RottenTomatoes_User                                       86
Metacritic                                                66
Metacritic_User                                          7.1
IMDB                                                     7.8
Fandango_Stars                                           5.0
Fandango_Ratingvalue                                     4.5
RT_norm                                                  3.7
RT_user_norm                                             4.3
Metacritic_norm                                          3.3
Metacritic_user_nom                                     3.55
IMDB_norm                                                3.9
RT_norm_round                                            3.5
RT_user_norm_round                                       4.5
Metacritic_norm_round                                    3.5
Metacritic_user_norm_round                               3.5
IMDB_norm_round                                          4.0
Metacritic_user_vote_count                              1330
IMDB_user_vote_count                                  271107
Fandango_votes                                         14846
Fandango_Difference                                      0.5
Name: 0, dtype: object

In [33]:
my_series.sort_values().rank()

inWords
Nine       1.0
Two        2.0
Three      3.0
One        4.0
Seven      5.0
Five       6.0
Ten        7.0
Eleven     8.0
Four      10.0
Six       10.0
Eight     10.0
Name: inDigits, dtype: float64

In [45]:
data.min(axis=1)

0      0.5
1      0.5
2      0.5
3      0.5
4      0.5
      ...
141    0.0
142    0.0
143    0.0
144    0.0
145    0.0
Length: 146, dtype: float64

In [50]:
import numpy as np

In [53]:
np.min(data, axis = 0) + np.max(data, axis = 0)

FILM                          '71 (2015)Woman in Gold (2015)
RottenTomatoes                                           105
RottenTomatoes_User                                      114
Metacritic                                               107
Metacritic_User                                         12.0
IMDB                                                    12.6
Fandango_Stars                                           8.0
Fandango_Ratingvalue                                     7.5
RT_norm                                                 5.25
RT_user_norm                                             5.7
Metacritic_norm                                         5.35
Metacritic_user_nom                                      6.0
IMDB_norm                                                6.3
RT_norm_round                                            5.5
RT_user_norm_round                                       5.5
Metacritic_norm_round                                    5.0
Metacritic_user_norm_round                               6.0
IMDB_norm_round                                          6.5
Metacritic_user_vote_count                              2379
IMDB_user_vote_count                                  334407
Fandango_votes                                         34881
Fandango_Difference                                      0.5
dtype: object

In [75]:
xx = pd.DataFrame({'x':[1,2,34],'y':[6,5,4]})

import numpy as np
import pandas as pd

df = pd.DataFrame(xx, index=[0,2], columns=['x','y'])
df = df.reindex([0, 'R2', 'R3', 'R4']).ffill(axis = 0)
print(df)

      x    y
0   1.0  6.0
R2  1.0  6.0
R3  1.0  6.0
R4  1.0  6.0

In [78]:
arr2d = np.arange(16).reshape(4,4)
df = pd.DataFrame(arr2d, index=['R2', 'R3', 'R4','R1'], columns=['C1','C2','C3','C4'])
df = df.reindex(['R1', 'R2', 'R3', 'R4']).ffill(axis = 0)
print(df)

    C1  C2  C3  C4
R1  12  13  14  15
R2   0   1   2   3
R3   4   5   6   7
R4   8   9  10  11