In [13]:
import pandas as pd
import numpy as np

def rank_func(df):
    df['AQI_rank'] = np.arange(0, len(df),1) + 1
    return df

df = pd.read_csv('test.csv')

print(df.head())

df = df.sort_values(['Sex','Age'], ascending=False)

df = df.groupby('Pclass')
df = df.apply(rank_func)

print(df.head(10))

   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S
     PassengerId  Pclass                           Name   Sex   Age  SibSp  \
81           973       1             Straus, Mr. Isidor  male  67.0      1
236         1128       1       Warren, Mr. Frank Manley  male  64.0      1
13           905       2           Howard, Mr. Benjamin  male  63.0      1
2            894       2      Myles, Mr. Thomas Francis  male  62.0      0
142         1034       1     Ryerson, Mr. Arthur Larned  male  61.0      1
193         1085       2              Lingane, Mr. John  male  61.0      0
152         1044       3             Storey, Mr. Thomas  male  60.5      0
217         1109       1       Wick, Mr. George Dennick  male  57.0      1
316         1208       1  Spencer, Mr. William Augustus  male  57.0      1
387         1279       2                Ashby, Mr. John  male  57.0      0

     Parch    Ticket      Fare            Cabin Embarked  AQI_rank
81       0  PC 17483  221.7792          C55 C57        S         1
236      0    110813   75.2500              D37        C         2
13       0     24065   26.0000              NaN        S         1
2        0    240276    9.6875              NaN        Q         2
142      3  PC 17608  262.3750  B57 B59 B63 B66        C         3
193      0    235509   12.3500              NaN        Q         3
152      0      3701       NaN              NaN        S         1
217      1     36928  164.8667              NaN        S         4
316      0  PC 17569  146.5208              B78        C         5
387      0    244346   13.0000              NaN        S         4

In [22]:
df = pd.read_csv('test.csv')
def custom(group):
    group['new'] = np.arange(0,len(group))+1
    # print(group.head())
    return group


xxx = df.groupby('Sex')
xxx = xxx.apply(custom)
print(xxx.head())
# df.head()

   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked  new
0  34.5      0      0   330911   7.8292   NaN        Q    1
1  47.0      1      0   363272   7.0000   NaN        S    1
2  62.0      0      0   240276   9.6875   NaN        Q    2
3  27.0      0      0   315154   8.6625   NaN        S    3
4  22.0      1      1  3101298  12.2875   NaN        S    2